@page "/ingredients"

<h1>Ingredients</h1>

<EditForm Model="this.m_CreateIngredientCommand">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width:1%;"></th>
                <th scope="col">Name</th>
                <th scope="col">Measurement Type</th>
                <th scope="col">Add New Ingredient</th>
                <th scope="col" style="width:1%;"></th>
            </tr>
        </thead>
        <tbody><tr>
                <td></td>
                <td><label>"@this.m_IngredientViewModel.IngredientName"</label></td>
                <td><button @onclick="this.DeleteIngredientAsync" class="btn btn-sm btn-success"><span class="oi oi-minus"></span></button></td>
            </tr>
            <tr>
                <td></td>
                <td><InputText @bind-Value="this.m_CreateIngredientCommand.Name" class="form-control" /></td>
                <td><button @onclick="this.CreateNewIngredientAsync" class="btn btn-sm btn-success"><span class="oi oi-plus"></span></button></td>
            </tr>

        </tbody>
    </table>

</EditForm>
